.fondo-base-1{
    background-image: url("https://i.ibb.co/mN7QPqt/fondo-gris.jpg");
    background-color: black;

}
.fondo-madera{
    background-image: url("https://i.ibb.co/fXsYNfS/fondo-madera.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.logo-caprice-1{
    display: block;
    margin: auto;
    max-width:150px;
    max-height: 150px;
}
.logo-caprice-2{
    display: block;
    margin: auto;
    max-width: 60%;
    max-height: 60%;
}
.linea-gris{
    border: 3px solid black;
    border-radius: 300px/10px;
    height: 0px;
    text-align: center;
}
.linea-naranja{
    border: 3px solid darkorange;
    border-radius: 300px/10px;
    height: 0px;
    text-align: center;
}
.imagen-carousel-1{
    display:block;
    margin:auto;
    width: fit-content;
    height: fit-content;
}

