body{
    background-image: url("https://i.ibb.co/fXsYNfS/fondo-madera.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.logo-navbar-principal{    
    display: block;
    margin: 0;
    max-width: 50px;
    max-height: 50px;   
}